.container {
  display: flex;
  background-color: yellow;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 0px;
}

.item {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  background-color: darkviolet;
  list-style-type: none;
}